{% extends "main-template.html" %}{% load static %}
{% block title %}BAZAR Mantenedor Contacto{% endblock %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Run</th>
        <th scope="col">Dv</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellido Paterno</th>
        <th scope="col">Apellido Materno</th>
        <th scope="col">Email</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Asunto</th>
      </tr>
    </thead>
    <tbody>
        {% for c in contactos %}
            <tr>
                <th scope="row">{{c.codigo}}</th>
                <td>{{c.run}}</td>
                <td>{{c.dv}}</td>
                <td>{{c.nombres}}</td>
                <td>{{c.apellido_paterno}}</td>
                <td>{{c.apellido_materno}}</td>
                <td>{{c.email}}</td>
                <td>{{c.telefono}}</td>
                <td>{{c.asunto}}</td>
            </tr>
        {% endfor %}      
    </tbody>
  </table>
{% endblock %}